#root {
  width: 100%;
  min-height: 100vh;
  /* Allow grow */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  /* overflow: hidden; REMOVED to allow scrolling */
}